header {
background:#127CE7;
color: #fff;
display: flex;
justify-content: space-around;
align-items: center;
height: 8vh ;
}

.rodape,
.textoRodape
{
  background:#127CE7;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 13vh ;

  bottom: 0;
  position: absolute;
  width: 100%;
  
 
}


