
*{

  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: inter;
}
img{
  width: 24px;
  height: 24px;
}
header {
  background:#127CE7;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 8vh ;
  }
  header p {
    position: relative;
  text-align: center;
  vertical-align: middle;
  }
a{
  text-decoration: none;
  color: white;
  padding:4px;

}

  .rodape,
.textoRodape
{
  background:#127CE7;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 13vh ;

  margin: 0 auto;
  width: 100%;
  
 
}
  /* .rodape {
    background-color: #127CE7;
    position: relative; 
    width: 100%;
    bottom: 0;
    
  }
  .nomerodape{
    align-items: center;
    justify-content: center;
  } */


