fieldset {
  display: flex;
  flex-wrap: wrap;
  margin: 30px auto;
  width: 1024px;
  border-style: solid;
  border-color: #DBDBDB;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 1px #00000040;
  justify-content: center;
}

h1 {
  text-align: center;
  color: #127CE7;
  margin: 20px 500px 0px 0px;
}

hr {
  margin: 0 25%;
  border: 1px solid #DADADA;
}

fieldset label {
  display: inline;
  padding-left: 20px;

}

fieldset p {
  padding-top: 15px;
}

.insiraFotografia input {
  width: 740px;
  height: 150px;
  margin-right: 20px;
  border: 5px dashed #DBDBDB;
  font-size: 20px;
  font-weight: 700;
  line-height: 41.15px;
  text-align: center;
}

fieldset input {
  border-radius: 6px;
  border: 2px;
  border-style: solid;
  border-color: #DBDBDB;
  width: 360px;
  padding: 5px 10px 5px 0px;
  margin: 10px 0px 0px 20px;
}

.localReferencia input {
  width: 740px;

}

button {
  border-style: solid;
  border-radius: 35px;
  padding: 12px 33px 12px 33px;
  background-color: #2E8B02;
  border-color: #206401;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0px 30px 270px;
}

#imagemBotao {
  position: relative;
  right: 10px;
}

body{

  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

